@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: rgb(51,51,51);
    font-size: 15px;
}

body {
    background-color: white;
}

.container {
    width: 75%;
    margin: 0 auto;
}

/*HEADER*/
.header {
    height: 110px;
    background-color: white;
}

.header-top {
    display: flex;
    flex-wrap: nowrap;
    padding: 12px 0;
}

.logo {
    height: 100%;
}

.logo img {
    width: 280px;
}
.logo.no-padding {
    padding: 0;
    border: none;
}

.nav {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row-reverse;
}

.navigation {
    display: flex;
    flex-wrap: nowrap;
}
.navigation li {
    margin-right: 60px;
}
.navigation li .active {
    color: red;
}
.navigation li a {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
}
.navigation li a:hover {
    color: red;
}

.cart-menu {
    height: 40%;
    border-left: 3px solid black;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
}

.currency {
    padding: 0 15px;
    position: relative;
    cursor: pointer;
}
.currency:hover span {
    color: red;
}
.currency img {
    width: 10px;
    transform: rotate(180deg);
}
.currency:hover .menu-list {
    display: block;
    cursor: pointer;
    background-color: black;
    padding: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.currency:hover img {
    transform: rotate(0deg);
}

.cart a svg:hover path {
    fill: red;
}

.menu-list {
    position: absolute;
    display: none;
    padding-top: 6px;
}
.menu-list li {
    font-size: 0.9em;
    color: white;
}
.menu-list li:hover {
    color: red;
}

.cart {
    padding: 0 15px;
}
.cart span {
    color: white;
    border-radius: 10px;
    border: 1px solid red;
    background-color: red;
    padding: 3px 5px;
}

.language {
    padding: 0 15px;
    position: relative;
    cursor: pointer;
}
.language:hover span {
    color: red;
}
.language img {
    width: 10px;
    transform: rotate(180deg);
}
.language:hover .menu-list {
    display: block;
    cursor: pointer;
    background-color: black;
    padding: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.language:hover img {
    transform: rotate(0deg);
}

/*BANNER*/
.banner {
    background-image: url("images/OnWebPhoto.jpg");
    background-size: cover;
    height: 220px;
}
.page-name-box {
    position: relative;
    height: 220px;
}
.page-name-box h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 40px;
    color: white;
    /*margin: auto 0;*/
}

/*CONTENT*/

.content {
    margin-bottom: 50px;
}

.top-filters {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.search input[type=text] {
    padding: 6px;
    border: 1px solid black;
    font-size: 17px;
}
.sort-by {

}

.sort {
    position: relative;
    /*margin-top: 15px;*/
}

.sort-label {
    display: flex;
    align-items: center
}

.sort-label svg {
    margin-right: 8px;
    transform: rotate(180deg);
}

.sort-label svg.rotated{
    transform: rotate(0);
}

.sort-label b {
    margin-right: 8px
}

.sort-label span {
    color: red;
    border-bottom: 1px dashed red;
    cursor: pointer
}

.sort-pop-up {
    position: absolute;
    display: none;
    /*right: 0;*/
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 200px;
    z-index: 2;
}
.sort-pop-up ul {
    overflow: hidden
}
.sort-pop-up ul li {
    padding: 12px 20px;
    cursor: pointer
}
.sort-pop-up ul li.active,
.sort-pop-up ul li:hover {
    background: rgba(255, 12, 0, 0.05)
}
.sort-pop-up ul li.active {
    font-weight: bold;
    color: red;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-block {
    width: 310px;
    height: 355px;
    margin-bottom: 65px;
    margin-right: 40px;
}
.product-block:hover {
    cursor: pointer;
}
.product-img {
    text-align: center;
}
.product-img img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}
.product-img img:hover {
    opacity: 30%;
}
.product-block h4 {
    font-size: 23px;
    margin: 10px 0;
}
.product-block .label {
    color: red;
    font-weight: bold;
    font-size: 15px;
    margin: 5px 0;
}

.product-bottom {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.product-bottom .price {
    font-size: 20px;
    font-weight: bold;
}
.product-bottom .button {
    font-size: 12px;
}


/*FOOTER*/
.footer {
    height: 400px;
    width: 100%;
    background-color: black;
}

.box {
    padding: 120px 0 0 0;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.links ul li {
    margin-bottom: 3px;
}
.links ul li a {
    color: white;
}
.links ul li a:hover {
    color: red;
}

.logo {
    border-right: 3px solid white;
    border-left: 3px solid white;
    padding: 0 30px 0 30px;
}

.social {
    text-align: center;
}
.social a {
    height: 40px;
    width: 40px;
}
.social img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
}
.social img:hover {
    border-radius: 40px;
    background-color: red;
}

.payments h6 {
    font-size: 12px;
    color: white;
}
.payments .types {
    text-align: center;
    margin-bottom: 10px;
}
.payments .types img {
    width: 38px;
    height: 24px;
    object-fit: cover;
}



/*BUTTON*/
.button {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(68,68,68);
}

.button:focus {
    outline: none;
}

.button-circle {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid red;
    background-color: white;
    /*padding: 16px;*/
    padding: 5px 13px;
    margin: 0 10px;
}
.button-circle:hover {
    background-color: red;
}
.button-circle:hover svg path {
    fill: white;
}
.button-circle:active {
    border: 1px solid black;
}

.button.button-circle.item-remove {
    padding: 3px 5px;
    border: 1px solid #d0d0d0;
}
.button.button-circle.item-remove:hover {
    background-color: #d0d0d0;
}
.button.button-circle.item-remove:hover svg path {
    fill: white;
}
.button.button-circle.item-remove:active {
    border: 1px solid black;
}
.button.button-circle.item-remove svg {
    transform: rotate(45deg);
}
.button.button-circle.item-remove svg path {
    fill: #d0d0d0;
}



                                  /*boxes*/
.popup {
    display:block;
    visibility:hidden;
    position:fixed;
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;
    background:rgba(0, 0, 0, 0.7);
    z-index:9999;
    overflow:hidden;
    text-align:center;
}
@media(max-width: 1020px) {
    .p-box {
        width:30%;
    }
}
@media(max-width: 800px) {
    .p-box {
        width:40%;
    }
}
@media(max-width: 640px) {
    .p-box {
        width:60%;
    }
}
@media(max-width: 420px) {
    .p-box {
        width:80%;
    }
}
.p-box {
    position:relative;
    margin:0 auto;
    display:block;
    height:auto;
    width:70%;
    padding:20px;
    background:white;
}
.product-card {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}
.product-card img {
    width: 350px;
    height: 350px;
    object-fit: contain;
    margin-right: 40px;
    margin-bottom: 40px;
}
.product-card .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-card .product-info .name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.product-info .description {
    margin-bottom: 40px;
    font-size: 13px;
    line-height: 1.5em;
    color: gray;
}
.product-info .options {
    margin-bottom: 40px;
}
.product-info .options select {
    margin-right: 35px;
}
.product-info .options label {
    font-weight: bold;
    font-size: 17px;
}
.product-card .product-info .card-bottom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.card-bottom .price {
    font-size: 20px;
    font-weight: bold;
}
.card-bottom .button {
    font-size: 20px;
}
.close {
    display:inline;
    position:absolute;
    right:0;
    top:5px;
    margin-right:5px;
    background:#E32222;
    color:white;
    height:20px;
    width:20px;
    border-radius:5px;
    z-index:9999;
    cursor:pointer;
    text-align:center;
}
#popup_head {
    color:#E32222;
    text-align:center;
}


/*CART*/
.popup-cart-box {
    display:block;
    visibility:hidden;
    position:fixed;
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;
    background:rgba(0, 0, 0, 0.7);
    z-index:9999;
    overflow:hidden;
    text-align:center;
}

.cart-box {
    position:relative;
    margin:0 auto;
    height: 600px;
    width:70%;
    padding:20px;
    background:white;
    overflow: auto;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.cart-head {
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 3px solid red;
}

.cart-items {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
}

.cart-item {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.cart-item-img {
    margin-right: 50px;
}
.cart-item-img img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}
.cart-item .name-params {

}
.cart-item .name-params .name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
}
.cart-item .name-params .params {
    font-size: 14px;
}
.cart-item .quantity-price {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.cart-item .total-item-price {
    font-weight: bold;
    font-size: 18px;
    margin-left: 50px;
}
.cart-item:last-child {
    border-bottom: none;
}

.cart-footer {
    width: 100%;
    padding-top: 50px;
    border-top: 3px solid red;
}
.cart-footer .totalCount {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.cart-footer .totalPrice {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.cart-footer .button {
    font-size: 20px;
}


/*NOTIFICATION item added to cart*/

.notification-box {
    display: block;
    position: fixed;
    visibility: hidden;
    right: 0;
    width: 200px;
    height: 70px;
    background-color: red;
    z-index: 100;
}
.notification {
    width: 100%;
    margin: 26px 0;
    text-align: center;
    color: white;
}